.ii{
    float:left;
    width: 16px;
    height: 16px;
    margin:0 5px 0 0;
    padding:0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
}

/*browsers*/
.firefox{background-image: url(/img/icons/firefox.png);}
.opera{background-image: url(/img/icons/opera.png);}
.chrome{background-image: url(/img/icons/chrome.png);}
.android_browser{background-image: url(/img/icons/android_browser.png);}
.dolphin,.dolphin{background-image: url(/img/icons/dolphin.png);}
.uc_browser, .ucbrowser{background-image: url(/img/icons/uc_browser.png);}
.puffin{background-image: url(/img/icons/puffin.png);}
.safari{background-image: url(/img/icons/safari.png);}
.edge{ background-image: url(/img/icons/edge.png);}
.iexplorer{ background-image: url(/img/icons/iexplorer.png);}
.maxthon{background-image: url(/img/icons/maxthon.png);}

/*os*/
.windows_10{background-image: url(/img/icons/windows_10.png);}
.windows_8{background-image: url(/img/icons/windows_8.png);}
.windows_8_1{background-image: url(/img/icons/windows_8.png);}
.windows_7{background-image: url(/img/icons/windows_7.png);}
.windows_vista{background-image: url(/img/icons/windows_vista.png);}
.windows_xp, .windows_mobile{background-image: url(/img/icons/windows_xp.png);}
.ubuntu{background-image: url(/img/icons/ubuntu.png);}
.linux{background-image: url(/img/icons/linux.png);}
.apple, .mac_os, .ios{background-image: url(/img/icons/apple.png);}
.android{background-image: url(/img/icons/android.png);}
.windows_phone{background-image: url(/img/icons/windows_phone.png);}
.black_berry{background-image: url(/img/icons/black_berry.png);}
.symbian{background-image: url(/img/icons/symbian.png);}
.unknown{background-image: url(/img/icons/unknown.png);}

/*devs*/
.computer{background-image: url(/img/icons/computer.png);}
.tablet{background-image: url(/img/icons/tablet.png);}
.mobile{background-image: url(/img/icons/mobile.png);}
.bot{background-image: url(/img/icons/bot.png);}


/*flags*/
.af{background-image: url(/img/icons/flags/af.png);}
.ax{background-image: url(/img/icons/flags/ax.png);}
.al{background-image: url(/img/icons/flags/al.png);}
.dz{background-image: url(/img/icons/flags/dz.png);}
.as{background-image: url(/img/icons/flags/as.png);}
.ad{background-image: url(/img/icons/flags/ad.png);}
.ao{background-image: url(/img/icons/flags/ao.png);}
.ai{background-image: url(/img/icons/flags/ai.png);}
.aq{background-image: url(/img/icons/flags/aq.png);}
.ag{background-image: url(/img/icons/flags/ag.png);}
.ar{background-image: url(/img/icons/flags/ar.png);}
.am{background-image: url(/img/icons/flags/am.png);}
.aw{background-image: url(/img/icons/flags/aw.png);}
.au{background-image: url(/img/icons/flags/au.png);}
.at{background-image: url(/img/icons/flags/at.png);}
.az{background-image: url(/img/icons/flags/az.png);}
.bs{background-image: url(/img/icons/flags/bs.png);}
.bh{background-image: url(/img/icons/flags/bh.png);}
.bd{background-image: url(/img/icons/flags/bd.png);}
.bb{background-image: url(/img/icons/flags/bb.png);}
.by{background-image: url(/img/icons/flags/by.png);}
.be{background-image: url(/img/icons/flags/be.png);}
.bz{background-image: url(/img/icons/flags/bz.png);}
.bj{background-image: url(/img/icons/flags/bj.png);}
.bm{background-image: url(/img/icons/flags/bm.png);}
.bt{background-image: url(/img/icons/flags/bt.png);}
.bo{background-image: url(/img/icons/flags/bo.png);}
.bq{background-image: url(/img/icons/flags/bq.png);}
.ba{background-image: url(/img/icons/flags/ba.png);}
.bw{background-image: url(/img/icons/flags/bw.png);}
.bv{background-image: url(/img/icons/flags/bv.png);}
.br{background-image: url(/img/icons/flags/br.png);}
.io{background-image: url(/img/icons/flags/io.png);}
.bn{background-image: url(/img/icons/flags/bn.png);}
.bg{background-image: url(/img/icons/flags/bg.png);}
.bf{background-image: url(/img/icons/flags/bf.png);}
.bi{background-image: url(/img/icons/flags/bi.png);}
.kh{background-image: url(/img/icons/flags/kh.png);}
.cm{background-image: url(/img/icons/flags/cm.png);}
.ca{background-image: url(/img/icons/flags/ca.png);}
.cv{background-image: url(/img/icons/flags/cv.png);}
.ky{background-image: url(/img/icons/flags/ky.png);}
.cf{background-image: url(/img/icons/flags/cf.png);}
.td{background-image: url(/img/icons/flags/td.png);}
.cl{background-image: url(/img/icons/flags/cl.png);}
.cn{background-image: url(/img/icons/flags/cn.png);}
.cx{background-image: url(/img/icons/flags/cx.png);}
.cc{background-image: url(/img/icons/flags/cc.png);}
.co{background-image: url(/img/icons/flags/co.png);}
.km{background-image: url(/img/icons/flags/km.png);}
.cg{background-image: url(/img/icons/flags/cg.png);}
.cd{background-image: url(/img/icons/flags/cd.png);}
.ck{background-image: url(/img/icons/flags/ck.png);}
.cr{background-image: url(/img/icons/flags/cr.png);}
.ci{background-image: url(/img/icons/flags/ci.png);}
.hr{background-image: url(/img/icons/flags/hr.png);}
.cu{background-image: url(/img/icons/flags/cu.png);}
.cw{background-image: url(/img/icons/flags/cw.png);}
.cy{background-image: url(/img/icons/flags/cy.png);}
.cz{background-image: url(/img/icons/flags/cz.png);}
.dk{background-image: url(/img/icons/flags/dk.png);}
.dj{background-image: url(/img/icons/flags/dj.png);}
.dm{background-image: url(/img/icons/flags/dm.png);}
.do{background-image: url(/img/icons/flags/do.png);}
.ec{background-image: url(/img/icons/flags/ec.png);}
.eg{background-image: url(/img/icons/flags/eg.png);}
.sv{background-image: url(/img/icons/flags/sv.png);}
.gq{background-image: url(/img/icons/flags/gq.png);}
.er{background-image: url(/img/icons/flags/er.png);}
.ee{background-image: url(/img/icons/flags/ee.png);}
.et{background-image: url(/img/icons/flags/et.png);}
.fk{background-image: url(/img/icons/flags/fk.png);}
.fo{background-image: url(/img/icons/flags/fo.png);}
.fj{background-image: url(/img/icons/flags/fj.png);}
.fi{background-image: url(/img/icons/flags/fi.png);}
.fr{background-image: url(/img/icons/flags/fr.png);}
.gf{background-image: url(/img/icons/flags/gf.png);}
.pf{background-image: url(/img/icons/flags/pf.png);}
.tf{background-image: url(/img/icons/flags/tf.png);}
.ga{background-image: url(/img/icons/flags/ga.png);}
.gm{background-image: url(/img/icons/flags/gm.png);}
.ge{background-image: url(/img/icons/flags/ge.png);}
.de{background-image: url(/img/icons/flags/de.png);}
.gh{background-image: url(/img/icons/flags/gh.png);}
.gi{background-image: url(/img/icons/flags/gi.png);}
.gr{background-image: url(/img/icons/flags/gr.png);}
.gl{background-image: url(/img/icons/flags/gl.png);}
.gd{background-image: url(/img/icons/flags/gd.png);}
.gp{background-image: url(/img/icons/flags/gp.png);}
.gu{background-image: url(/img/icons/flags/gu.png);}
.gt{background-image: url(/img/icons/flags/gt.png);}
.gg{background-image: url(/img/icons/flags/gg.png);}
.gn{background-image: url(/img/icons/flags/gn.png);}
.gw{background-image: url(/img/icons/flags/gw.png);}
.gy{background-image: url(/img/icons/flags/gy.png);}
.ht{background-image: url(/img/icons/flags/ht.png);}
.hm{background-image: url(/img/icons/flags/hm.png);}
.va{background-image: url(/img/icons/flags/va.png);}
.hn{background-image: url(/img/icons/flags/hn.png);}
.hk{background-image: url(/img/icons/flags/hk.png);}
.hu{background-image: url(/img/icons/flags/hu.png);}
.is{background-image: url(/img/icons/flags/is.png);}
._in{background-image: url(/img/icons/flags/in.png);}
.id{background-image: url(/img/icons/flags/id.png);}
.ir{background-image: url(/img/icons/flags/ir.png);}
.iq{background-image: url(/img/icons/flags/iq.png);}
.ie{background-image: url(/img/icons/flags/ie.png);}
.im{background-image: url(/img/icons/flags/im.png);}
.il{background-image: url(/img/icons/flags/il.png);}
.it{background-image: url(/img/icons/flags/it.png);}
.jm{background-image: url(/img/icons/flags/jm.png);}
.jp{background-image: url(/img/icons/flags/jp.png);}
.je{background-image: url(/img/icons/flags/je.png);}
.jo{background-image: url(/img/icons/flags/jo.png);}
.kz{background-image: url(/img/icons/flags/kz.png);}
.ke{background-image: url(/img/icons/flags/ke.png);}
.ki{background-image: url(/img/icons/flags/ki.png);}
.kp{background-image: url(/img/icons/flags/kp.png);}
.kr{background-image: url(/img/icons/flags/kr.png);}
.kw{background-image: url(/img/icons/flags/kw.png);}
.kg{background-image: url(/img/icons/flags/kg.png);}
.la{background-image: url(/img/icons/flags/la.png);}
.lv{background-image: url(/img/icons/flags/lv.png);}
.lb{background-image: url(/img/icons/flags/lb.png);}
.ls{background-image: url(/img/icons/flags/ls.png);}
.lr{background-image: url(/img/icons/flags/lr.png);}
.ly{background-image: url(/img/icons/flags/ly.png);}
.li{background-image: url(/img/icons/flags/li.png);}
.lt{background-image: url(/img/icons/flags/lt.png);}
.lu{background-image: url(/img/icons/flags/lu.png);}
.mo{background-image: url(/img/icons/flags/mo.png);}
.mk{background-image: url(/img/icons/flags/mk.png);}
.mg{background-image: url(/img/icons/flags/mg.png);}
.mw{background-image: url(/img/icons/flags/mw.png);}
.my{background-image: url(/img/icons/flags/my.png);}
.mv{background-image: url(/img/icons/flags/mv.png);}
.ml{background-image: url(/img/icons/flags/ml.png);}
.mt{background-image: url(/img/icons/flags/mt.png);}
.mh{background-image: url(/img/icons/flags/mh.png);}
.mq{background-image: url(/img/icons/flags/mq.png);}
.mr{background-image: url(/img/icons/flags/mr.png);}
.mu{background-image: url(/img/icons/flags/mu.png);}
.yt{background-image: url(/img/icons/flags/yt.png);}
.mx{background-image: url(/img/icons/flags/mx.png);}
.fm{background-image: url(/img/icons/flags/fm.png);}
.md{background-image: url(/img/icons/flags/md.png);}
.mc{background-image: url(/img/icons/flags/mc.png);}
.mn{background-image: url(/img/icons/flags/mn.png);}
.me{background-image: url(/img/icons/flags/me.png);}
.ms{background-image: url(/img/icons/flags/ms.png);}
.ma{background-image: url(/img/icons/flags/ma.png);}
.mz{background-image: url(/img/icons/flags/mz.png);}
.mm{background-image: url(/img/icons/flags/mm.png);}
.na{background-image: url(/img/icons/flags/na.png);}
.nr{background-image: url(/img/icons/flags/nr.png);}
.np{background-image: url(/img/icons/flags/np.png);}
.nl{background-image: url(/img/icons/flags/nl.png);}
.nc{background-image: url(/img/icons/flags/nc.png);}
.nz{background-image: url(/img/icons/flags/nz.png);}
.ni{background-image: url(/img/icons/flags/ni.png);}
.ne{background-image: url(/img/icons/flags/ne.png);}
.ng{background-image: url(/img/icons/flags/ng.png);}
.nu{background-image: url(/img/icons/flags/nu.png);}
.nf{background-image: url(/img/icons/flags/nf.png);}
.mp{background-image: url(/img/icons/flags/mp.png);}
.no{background-image: url(/img/icons/flags/no.png);}
.om{background-image: url(/img/icons/flags/om.png);}
.pk{background-image: url(/img/icons/flags/pk.png);}
.pw{background-image: url(/img/icons/flags/pw.png);}
.ps{background-image: url(/img/icons/flags/ps.png);}
.pa{background-image: url(/img/icons/flags/pa.png);}
.pg{background-image: url(/img/icons/flags/pg.png);}
.py{background-image: url(/img/icons/flags/py.png);}
.pe{background-image: url(/img/icons/flags/pe.png);}
.ph{background-image: url(/img/icons/flags/ph.png);}
.pn{background-image: url(/img/icons/flags/pn.png);}
.pl{background-image: url(/img/icons/flags/pl.png);}
.pt{background-image: url(/img/icons/flags/pt.png);}
.pr{background-image: url(/img/icons/flags/pr.png);}
.qa{background-image: url(/img/icons/flags/qa.png);}
.re{background-image: url(/img/icons/flags/re.png);}
.ro{background-image: url(/img/icons/flags/ro.png);}
.ru{background-image: url(/img/icons/flags/ru.png);}
.rw{background-image: url(/img/icons/flags/rw.png);}
.bl{background-image: url(/img/icons/flags/bl.png);}
.sh{background-image: url(/img/icons/flags/sh.png);}
.kn{background-image: url(/img/icons/flags/kn.png);}
.lc{background-image: url(/img/icons/flags/lc.png);}
.mf{background-image: url(/img/icons/flags/mf.png);}
.pm{background-image: url(/img/icons/flags/pm.png);}
.vc{background-image: url(/img/icons/flags/vc.png);}
.ws{background-image: url(/img/icons/flags/ws.png);}
.sm{background-image: url(/img/icons/flags/sm.png);}
.st{background-image: url(/img/icons/flags/st.png);}
.sa{background-image: url(/img/icons/flags/sa.png);}
.sn{background-image: url(/img/icons/flags/sn.png);}
.rs{background-image: url(/img/icons/flags/rs.png);}
.sc{background-image: url(/img/icons/flags/sc.png);}
.sl{background-image: url(/img/icons/flags/sl.png);}
.sg{background-image: url(/img/icons/flags/sg.png);}
.sx{background-image: url(/img/icons/flags/sx.png);}
.sk{background-image: url(/img/icons/flags/sk.png);}
.si{background-image: url(/img/icons/flags/si.png);}
.sb{background-image: url(/img/icons/flags/sb.png);}
.so{background-image: url(/img/icons/flags/so.png);}
.za{background-image: url(/img/icons/flags/za.png);}
.gs{background-image: url(/img/icons/flags/gs.png);}
.ss{background-image: url(/img/icons/flags/ss.png);}
.es{background-image: url(/img/icons/flags/es.png);}
.lk{background-image: url(/img/icons/flags/lk.png);}
.sd{background-image: url(/img/icons/flags/sd.png);}
.sr{background-image: url(/img/icons/flags/sr.png);}
.sj{background-image: url(/img/icons/flags/sj.png);}
.sz{background-image: url(/img/icons/flags/sz.png);}
.se{background-image: url(/img/icons/flags/se.png);}
.ch{background-image: url(/img/icons/flags/ch.png);}
.sy{background-image: url(/img/icons/flags/sy.png);}
.tw{background-image: url(/img/icons/flags/tw.png);}
.tj{background-image: url(/img/icons/flags/tj.png);}
.tz{background-image: url(/img/icons/flags/tz.png);}
.th{background-image: url(/img/icons/flags/th.png);}
.tl{background-image: url(/img/icons/flags/tl.png);}
.tg{background-image: url(/img/icons/flags/tg.png);}
.tk{background-image: url(/img/icons/flags/tk.png);}
.to{background-image: url(/img/icons/flags/to.png);}
.tt{background-image: url(/img/icons/flags/tt.png);}
.tn{background-image: url(/img/icons/flags/tn.png);}
.tr{background-image: url(/img/icons/flags/tr.png);}
.tm{background-image: url(/img/icons/flags/tm.png);}
.tc{background-image: url(/img/icons/flags/tc.png);}
.tv{background-image: url(/img/icons/flags/tv.png);}
.ug{background-image: url(/img/icons/flags/ug.png);}
.ua{background-image: url(/img/icons/flags/ua.png);}
.ae{background-image: url(/img/icons/flags/ae.png);}
.gb{background-image: url(/img/icons/flags/gb.png);}
.us{background-image: url(/img/icons/flags/us.png);}
.um{background-image: url(/img/icons/flags/um.png);}
.uy{background-image: url(/img/icons/flags/uy.png);}
.uz{background-image: url(/img/icons/flags/uz.png);}
.vu{background-image: url(/img/icons/flags/vu.png);}
.ve{background-image: url(/img/icons/flags/ve.png);}
.vn{background-image: url(/img/icons/flags/vn.png);}
.vg{background-image: url(/img/icons/flags/vg.png);}
.vi{background-image: url(/img/icons/flags/vi.png);}
.wf{background-image: url(/img/icons/flags/wf.png);}
.eh{background-image: url(/img/icons/flags/eh.png);}
.ye{background-image: url(/img/icons/flags/ye.png);}
.zm{background-image: url(/img/icons/flags/zm.png);}
.zw{background-image: url(/img/icons/flags/zw.png);}
.xx{background-image: url(/img/icons/flags/xx.png);}
