body{
    margin-top: 55px;
}

.navbar-fixed-top{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
}


.container-fluid{
    min-width: 1150px;
}

.navbar-right{
    margin-right: 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
}

.navbar-default {
    background-color:#d8253a;
    border-color: #a81d2a;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 24px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /*color: #89d2f9;*/
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color: #89d2f9;*/
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #89d2f9;*/
    color: #ffffff;
    background-color:#d8253a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    /*color: #89d2f9;*/
    color: #ffffff;
    background-color:#d8253a;
}
.navbar-default .navbar-toggle {
    border-color: #a81d2a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color:#d8253a;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    /*color: #89d2f9;*/
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        /*color: #89d2f9;*/
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        /*color: #89d2f9;*/
        color: #ffffff;
        background-color:#d8253a;
    }
}

.breadcrumb{
    border:1px solid #CCCCCC;
}

/*modal center*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.header-primary{
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    background: #337AB7;
    color: #ffffff;
}

.header-danger{
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    background: #D9534F;
    color: #ffffff;
}

.header-success{
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    background: #5CB85C;
    color: #ffffff;
}

.header-warning{
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    background: #F0AD4E;
    color: #ffffff;
}

.header-info{
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    background: #5BC0DE;
    color: #ffffff;
}

.modal-lg{
    min-width: 900px;
}

.ad_img{
    position:relative;
    float:left;
    width: 180px;
    height: 180px;
    border: 1px solid #CCCCCC;
}

.ad_form{
    float:left;
    margin-left:15px;
    width: 670px;
}

input[type="file"]{
    display: none;
}

/* ad view block */
.ad_prev{
    position:relative;
    width: 450px;
    float:left;
    line-height: 22px;
    padding:0;
}

.ad_prev > div{
    position:absolute;
    right: 1px;
    top:1px;
    font-size: 11px;
}

.ad_prev > img{
    float:left;
    border: 1px solid #dddddd;
    margin-right: 10px;
}

.ad_title{
    font-size: 11px;
    color:#4F10BB;
}

.ad_descr{
    font-size: 11px;

}

.ad_link{
    font-size: 11px;
    color:#007700;
}

.ad_stat > span{
    line-height: 22px;
}

.vcenter {
    margin-top:50px;

}

body {
    padding-top: 15px;
}

.container{
    width: 1280px;
}

.panel-body td{
    width: 25%;
}

.panel-primary {
    border-color: #d8253a;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #d8253a;
    border-color: #d8253a;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #d8253a;
}

.panel-primary>.panel-heading .badge {
    color: #337ab7;
    background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color:  #d8253a;
}



.noborder-r{
    border-right: 0;
}

.opt_divider{
    border-top: 1px solid #dddddd;
}

.bgc{
    padding: 30px;
    overflow: auto;
}

/*block builder page*/
.accordion_link{
    font-size: 14px;
}

/*install page*/
.premissions > p{
    border-bottom: 1px dotted #CEA674;
}

#up_scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#up_scroll:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.border-noradius{
    border-radius: 0;
}

.no-top-margin{
    margin-top: -24px;
}


/*---------------------------------------------------------------------------*/


.col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4,
.col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8,
.col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media (min-width: 1450px) {
    .col-xlg-1,
    .col-xlg-2,
    .col-xlg-3,
    .col-xlg-4,
    .col-xlg-5,
    .col-xlg-6,
    .col-xlg-7,
    .col-xlg-8,
    .col-xlg-9,
    .col-xlg-10,
    .col-xlg-11 {
        float: left;
    }

    .col-xlg-1 {
        width: 8.333333333333332%;
    }

    .col-xlg-2 {
        width: 16.666666666666664%;
    }

    .col-xlg-3 {
        width: 25%;
    }

    .col-xlg-4 {
        width: 33.33333333333333%;
    }

    .col-xlg-5 {
        width: 41.66666666666667%;
    }

    .col-xlg-6 {
        width: 50%;
    }

    .col-xlg-7 {
        width: 58.333333333333336%;
    }

    .col-xlg-8 {
        width: 66.66666666666666%;
    }

    .col-xlg-9 {
        width: 75%;
    }

    .col-xlg-10 {
        width: 83.33333333333334%;
    }

    .col-xlg-11 {
        width: 91.66666666666666%;
    }

    .col-xlg-12 {
        width: 100%;
    }

    .col-xlg-push-1 {
        left: 8.333333333333332%;
    }

    .col-xlg-push-2 {
        left: 16.666666666666664%;
    }

    .col-xlg-push-3 {
        left: 25%;
    }

    .col-xss-push-4 {
        left: 33.33333333333333%;
    }

    .col-xlg-push-5 {
        left: 41.66666666666667%;
    }

    .col-xlg-push-6 {
        left: 50%;
    }

    .col-xlg-push-7 {
        left: 58.333333333333336%;
    }

    .col-xlg-push-8 {
        left: 66.66666666666666%;
    }

    .col-xlg-push-9 {
        left: 75%;
    }

    .col-xlg-push-10 {
        left: 83.33333333333334%;
    }

    .col-xlg-push-11 {
        left: 91.66666666666666%;
    }

    .col-xlg-pull-1 {
        right: 8.333333333333332%;
    }

    .col-xlg-pull-2 {
        right: 16.666666666666664%;
    }

    .col-xlg-pull-3 {
        right: 25%;
    }

    .col-xlg-pull-4 {
        right: 33.33333333333333%;
    }

    .col-xlg-pull-5 {
        right: 41.66666666666667%;
    }

    .col-xlg-pull-6 {
        right: 50%;
    }

    .col-xlg-pull-7 {
        right: 58.333333333333336%;
    }

    .col-xlg-pull-8 {
        right: 66.66666666666666%;
    }

    .col-xlg-pull-9 {
        right: 75%;
    }

    .col-xlg-pull-10 {
        right: 83.33333333333334%;
    }

    .col-xlg-pull-11 {
        right: 91.66666666666666%;
    }

    .col-xlg-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-xlg-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-xlg-offset-3 {
        margin-left: 25%;
    }

    .col-xlg-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-xlg-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-xlg-offset-6 {
        margin-left: 50%;
    }

    .col-xlg-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-xlg-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-xlg-offset-9 {
        margin-left: 75%;
    }

    .col-xlg-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-xlg-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
